# Digitilization of Document

### Project:

In [4]:
import pytesseract
import pandas as pd
import numpy as np

In [5]:
import os
lst = os.listdir(os.getcwd())
lst

['.ipynb_checkpoints',
 'aadhar.jpg',
 'aadhar1.jpg',
 'aadhar11_details.csv',
 'aadhar2.jpg',
 'aadhar3.jpg',
 'aadhar4.jpg',
 'aadhar_details.csv',
 'demo.py',
 'Harry Potter and The Sorcerer’s Stone.pdf',
 'pan1.jpg',
 'pan2.jpg',
 'pan3.jpg',
 'pan4.jpg',
 'pan5.jpg',
 'pan_details.csv',
 'Practice.ipynb',
 'salary.gif',
 'salary1.jpg',
 'salary_details.csv',
 'the-adventures-of-tom-sawyer-mark-twain.pdf',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'VehicleProject.ipynb',
 'Vehicle_doc.csv',
 'YAYATI-Marathi.pdf']

# Project 1

## aadhar card details

In [6]:
path = r"C:\Users\GAURAV DOND\AppData\Local\Programs\Tesseract-OCR\tesseract.exe"
file_path = r"aadhar.jpg"  
pytesseract.pytesseract.tesseract_cmd = path
text = pytesseract.image_to_string(file_path)
print(text)

Government of India Srrurz

Gaurav Nivrutti Dond

seat fat / DOB: 06/10/2000
qea/ Male

|

Issue Date. 02/01/2014

6295 5497 9356

ART HUN, ALT Ved

In [7]:
result=re.sub("\n+","\n",text)
print(result)

Government of India Srrurz
Gaurav Nivrutti Dond
seat fat / DOB: 06/10/2000
qea/ Male
|
Issue Date. 02/01/2014
6295 5497 9356
ART HUN, ALT Ved

In [8]:
import re

In [9]:
pattern_aadhar_no = re.compile(r"\d{4}\s\d{4}\s\d{4}")
pattern_aadhar_no.search(text)

In [10]:
def get_aadhar_details(text):

    pattern_aadhar_no = re.compile(r"\d{4}\s\d{4}\s\d{4}")
    
    aadhar_no = pattern_aadhar_no.search(text).group()
    
    return aadhar_no

get_aadhar_details(text)

'6295 5497 9356'

In [11]:
aadhar_no = get_aadhar_details(text)

In [12]:
import pandas as pd

In [13]:
dict1 = {"AADHAR NO":[None]}
df = pd.DataFrame(dict1)
df["AADHAR NO"] = aadhar_no
df

        AADHAR NO
0  6295 5497 9356

## Pan Card Details

In [14]:
path = r"C:\Users\GAURAV DOND\AppData\Local\Programs\Tesseract-OCR\tesseract.exe"
file_path = r"pan1.jpg"  
pytesseract.pytesseract.tesseract_cmd = path
text = pytesseract.image_to_string(file_path)
print(text)

INCOMETAX DEPARTMENT <%= © GOVT. OF INDIA
RAHUL GUPTA
SURESH GUPTA

23/11/1974
Permanent Account Number
ABCDE1234F

SAMPLE - IMMIHELP.COM

Signature

In [15]:
result2=re.sub("\n+","\n",text)
print(result2)

INCOMETAX DEPARTMENT <%= © GOVT. OF INDIA
RAHUL GUPTA
SURESH GUPTA
23/11/1974
Permanent Account Number
ABCDE1234F
SAMPLE - IMMIHELP.COM
Signature

In [16]:
import re

In [17]:
pattern_pan_no = re.compile(r"\D{5}\d{4}\D{1}")
pattern_pan_no.search(text)

In [18]:
pattern_dob = re.compile(r"\D{5}\d{4}\D{1}")
pattern_dob.search(text)

In [19]:
def get_pan_details(text):

    pattern_pan_no = re.compile(r"\D{5}\d{4}\D{1}")
    pattern_dob = re.compile(r"\d{1,2}/\d{1,2}/\d{2,4}")
    
    pan_no = pattern_pan_no.search(text).group()
    dob = pattern_dob.search(text).group()
        
    return pan_no,dob

get_pan_details(text)

('ABCDE1234F', '23/11/1974')

In [20]:
pan_no,dob = get_pan_details(text)

In [21]:
import pandas as pd

In [22]:
dict1 = {"PAN NO":[None],"DOB":[None]}
df = pd.DataFrame(dict1)
df["PAN NO"] = pan_no
df["DOB"] = dob
df

       PAN NO         DOB
0  ABCDE1234F  23/11/1974

# Salary slip details

In [23]:
path = r"C:\Users\GAURAV DOND\AppData\Local\Programs\Tesseract-OCR\tesseract.exe"
file_path = r"salary1.jpg"  
pytesseract.pytesseract.tesseract_cmd = path
text = pytesseract.image_to_string(file_path)
print(text)

saama

SAAMA TECHNOLOGIES (INDIA) PRIVATE LIMITED

IT-8 10th Floor, Blueridge Township,
Near Rajiv Gandhi Infotech Park Phase-l,

Hinjewadi
Pune 411057

Pay Slip for June 2023

EmpNo 15112

Name Shankar Gorakshanath Padawal
Department —_ | Client Care - Delivery

Role Sr. Software Engineer

Level Ls

Date of Joining |25-05-2023

PAN DJTPP9256G

Payable Days
Bank A/c No
P.F. No.

UAN No.
Location

30
6845283240

PUNE SEZ UNIT

Earning Current Month

Basic 49,040.00)
House Rent Allowance 24,520.00)
(Other Fixed Allowance 46,681.00)
Arrears-Basic 11,074.00
Arrears-HRA 5,537.00
/Ar-Other Fixed Allowance 10,541.00

April-to-date
Earnings
49,040.00] Income Tax
24,520.00 | Education Cess
46,681.00|Provident Fund
11,074.00| Profession Tax

5,537.00|LWF
10,541.00

Deduction

Current Month

8,693.00
348.00
3,129.00
200.00
12.00

April-to-date
Deductions

Total 147,393.00)

147,393.00

12,382.00]

Net Pay: Rs. 135,011.00 | Rupees One Lakhs Thirty Five Thousand Eleven Only.

In [24]:
result3=re.sub("\n+","\n",text)
print(result3)

saama
SAAMA TECHNOLOGIES (INDIA) PRIVATE LIMITED
IT-8 10th Floor, Blueridge Township,
Near Rajiv Gandhi Infotech Park Phase-l,
Hinjewadi
Pune 411057
Pay Slip for June 2023
EmpNo 15112
Name Shankar Gorakshanath Padawal
Department —_ | Client Care - Delivery
Role Sr. Software Engineer
Level Ls
Date of Joining |25-05-2023
PAN DJTPP9256G
Payable Days
Bank A/c No
P.F. No.
UAN No.
Location
30
6845283240
PUNE SEZ UNIT
Earning Current Month
Basic 49,040.00)
House Rent Allowance 24,520.00)
(Other Fixed Allowance 46,681.00)
Arrears-Basic 11,074.00
Arrears-HRA 5,537.00
/Ar-Other Fixed Allowance 10,541.00
April-to-date
Earnings
49,040.00] Income Tax
24,520.00 | Education Cess
46,681.00|Provident Fund
11,074.00| Profession Tax
5,537.00|LWF
10,541.00
Deduction
Current Month
8,693.00
348.00
3,129.00
200.00
12.00
April-to-date
Deductions
Total 147,393.00)
147,393.00
12,382.00]
Net Pay: Rs. 135,011.00 | Rupees One Lakhs Thirty Five Thousand Eleven Only.

In [25]:
import re

In [26]:
pattern_name = re.compile("[a-zA-Z]{7}\s[a-zA-Z]{12}\s[a-zA-Z]{7}")
pattern_name.search(text)

In [27]:
pattern_e_id = re.compile(r"\b\d{5}\b")
pattern_e_id.search(text)

In [28]:
pattern_a_no = re.compile(r"\d{10}")
pattern_a_no.search(text)

In [29]:
pattern_net_pay = re.compile(r'135,011\.00')
pattern_net_pay.search(text)

In [30]:
def get_salary_details(text):

    pattern_name = re.compile("[a-zA-Z]{7}\s[a-zA-Z]{12}\s[a-zA-Z]{7}")
    pattern_e_id = re.compile(r"\b\d{5}\b")
    pattern_acc_no = re.compile(r"\d{10}")
    pattern_net_pay = re.compile(r'135,011\.00')

    name = pattern_name.search(text).group()
    e_id = pattern_e_id.search(text).group()
    acc_no = pattern_acc_no.search(text).group()
    net_pay = pattern_net_pay.search(text).group()

    return name,e_id,acc_no,net_pay
get_salary_details(text)

('Shankar Gorakshanath Padawal', '15112', '6845283240', '135,011.00')

In [31]:
name,e_id,acc_no,net_pay = get_salary_details(text)

In [32]:
dict1 = {"NAME":[None],"EMP ID":[None],"ACC NO":[None],"NET PAY":[None]}
df = pd.DataFrame(dict1)
df["NAME"] = name
df["EMP ID"] = e_id
df["ACC NO"] = acc_no
df["NET PAY"] = net_pay
df

                           NAME EMP ID      ACC NO     NET PAY
0  Shankar Gorakshanath Padawal  15112  6845283240  135,011.00

# Project 2

In [33]:
dict1 = {"AADHAR NO":[None], "PAN NO":[None],"DOB":[None],"NAME":[None],"EMP ID":[None],"ACC NO":[None],"NET PAY":[None]}
df = pd.DataFrame(dict1)
df

  AADHAR NO PAN NO   DOB  NAME EMP ID ACC NO NET PAY
0      None   None  None  None   None   None    None

In [36]:
dict1 = {"AADHAR NO":[None],
         "PAN NO":[None],
         "DOB":[None],
         "NAME":[None],
         "EMP ID":[None],
         "ACC NO":[None],
         "NET PAY":[None]}
df = pd.DataFrame(dict1)
df["AADHAR NO"] = aadhar_no
df["PAN NO"] = pan_no
df["DOB"] = dob
df["NAME"] = name
df["EMP ID"] = e_id
df["ACC NO"] = acc_no
df["NET PAY"] = net_pay
df

,AADHAR NO,PAN NO,DOB,NAME,EMP ID,ACC NO,NET PAY
0,6295 5497 9356,ABCDE1234F,23/11/1974,Shankar Gorakshanath Padawal,15112,6845283240,"135,011.00"

In [37]:
df.to_csv("Vehicle_doc.csv",index=False)

# Thank you!